<section id="left-roll">
    <img src="" alt="" />
</section>
<section id="about-content">
    <h2>About Us</h2>
    <p>
        Sed nec magna tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi scelerisque luctus lectus, rutrum pretium lorem scelerisque in. Curabitur sed sem enim. Suspendisse vel ipsum elit. Ut pharetra euismod felis in adipiscing.
    </p>
    <img src="" alt="" />
</section>
<section id="right-roll">
    <img src="" alt="" />
    <img src="" alt="" />
    <img src="" alt="" />
    <img src="" alt="" />
</section>