<h2>Connect</h2>
<div class="twitter">
    <article class="circle-1">
        <div class="circle-outer">
        <div class="circle-inner">
            <p>ROLL OF THE DAY! the CALIFORNIA! Snow crab with avocado and cucumber makes Minnesota weather seem like a walk on the beach!</p>
            <span>Posted 8 hours ago</span>
        </div>
        </div>
    </article>
    <article class="circle-2">
        <div class="circle-outer">
        <div class="circle-inner">
            <p>We've got some pre-#wits magic going on at the St. Paul sushi bar! Stop by before the big show or we crush your head! #kith</p>
            <span>Posted 8 hours ago</span>
        </div>
        </div>
    </article>
    <article class="circle-3">
        <div class="circle-outer">
        <div class="circle-inner">
            <p>The PATRIOT ROLL is still going strong! Stop by and cast a vote for awesomeness! http://twitpic.com/baestq </p>
            <span>Posted 8 hours ago</span>
        </div>
        </div>
    </article>
    <article class="circle-4">
        <div class="circle-outer">
        <div class="circle-inner">
            <p>It's Oyster time at Lyn-Lake! We've got two amazing varieties for you: Hammersley and Malpeque. Get them on the internet today!</p>
            <span>Posted 8 hours ago</span>
        </div>
        </div>
    </article>
    <article class="circle-5">
        <div class="circle-outer">
        <div class="circle-inner">
            <p>Total fresh fish BONANZA at Lyn-Lake tonight! Uni! Madai! Aji! Big Eye Tuna! Salmon! Oysters! And a happy hour starting in 30 minutes? OMG.</p>
            <span>Posted 8 hours ago</span>
        </div>
        </div>
    </article>
</div>
<div class="ig">
    <ul>
        <li><img src="" alt="" /></li>
        <li><img src="" alt="" /></li>
        <li><img src="" alt="" /></li>
        <li><img src="" alt="" /></li>
        <li><img src="" alt="" /></li>
        <li><img src="" alt="" /></li>
        <li><img src="" alt="" /></li>
        <li><img src="" alt="" /></li>
        <li><img src="" alt="" /></li>
        <li><img src="" alt="" /></li>
    </ul>
</div>