<h2>Connect</h2>
<article circle-1>
    <p>ROLL OF THE DAY! the CALIFORNIA! Snow crab with avocado and cucumber makes Minnesota weather seem like a walk on the beach!</p>
    <span>Posted 8 hours ago</span>
</article>
<article circle-2>
    <p>We've got some pre-#wits magic going on at the St. Paul sushi bar! Stop by before the big show or we crush your head! #kith</p>
    <span>Posted 8 hours ago</span>
</article>
<article circle-3>
    <p>The PATRIOT ROLL is still going strong! Stop by and cast a vote for awesomeness! http://twitpic.com/baestq </p>
    <span>Posted 8 hours ago</span>
</article>
<article circle-4>
    <p>It's Oyster time at Lyn-Lake! We've got two amazing varieties for you: Hammersley and Malpeque. Get them on the internet today!</p>
    <span>Posted 8 hours ago</span>
</article>
<article circle-5>
    <p>Total fresh fish BONANZA at Lyn-Lake tonight! Uni! Madai! Aji! Big Eye Tuna! Salmon! Oysters! And a happy hour starting in 30 minutes? OMG.</p>
    <span>Posted 8 hours ago</span>
</article>