@model CodeSlingers2012.Models.FooterViewModel

<article class="left">
    <img src="@Url.Content("~/Images/gts-footer.png")" />
</article>
<article class="happy-hour">
    <h3>Happy Hours</h3>
    <p>Tues-Fri: 5-7pm</p>
    <p>Plus Late Night</p>
    <p>10-Close Tyes-Thurs</p>
    <p>Sunday: 8 to 10pm</p>
</article>
<article class="dinner">
    <h3>Dinner</h3>
    <p>Mon: 5-9pm</p>
    <p>Tues-Thurs: 5-10pm</p>
    <p>Fri-Sat: 5-10:30pm</p>
    <p>Sun: 5-9pm</p>
</article>
<a href="#" class="back-to-top">Back to Top</a>