@model CodeSlingers2012.Models.HomeLinkViewModel

<section id="homecallouts">
    <article>
        <title>Featured Roll</title>
        <summary>
            Fusce et quam vel diam molestie eleifend et quis massa.
            <a href="#">Check Our Menu</a>
        </summary>
        <img src="" alt="" />
    </article>
    <article>
        <title>Where Are We?</title>
        <summary>
            Mauris elementum lobortis laoreet. Curabitur lacinia, metus sed suscipit ultrices, lacus ipsum adipiscing nisl.
            <a href="#">Find Your Location</a>
        </summary>
    </article>
    <article>
        <title>Work With Us</title>
        <summary>
            Vestibulum vestibulum accumsan mollis. Quisque nec lacus ac dui porta pretium eget vitae leo.
            <a href="#">Apply Now!</a>
        </summary>
    </article>
</section>