@model CodeSlingers2012.Models.HomeImageViewModel

<div id="homerotator" class="pics">
    <img src="" alt="" />
    <img src="" alt="" />
    <img src="" alt="" />
</div>
<div id="homerotatornav">
    <a href="#" id="prev">Prev</a>
    <a href="#" id="next">Next</a>
</div>