@model CodeSlingers2012.Models.HomeImageViewModel

<div id="homerotator" class="pics">
            @foreach (var item in Model.items)
            {
                <img src="@item.ImageUrl" alt="Sushi!" />
            }
</div>
<div id="homerotatornav">
    <a href="#" class="prev">Prev</a>
    <a href="#" class="next">Next</a>
</div>