@model CodeSlingers2012.Models.JobsViewModel

<section class="upper-frame">
    <img src="@Url.Content("~/Images/frame2.png")" alt="" />
</section>

<section class="lower-frame">
    <img src="@Url.Content("~/Images/frame1.png")" alt="" />
</section>

<section class="callout">
    <h2>Jobs</h2>
    <p>
        Nunc est eros, tristique in lacinia ut, aliquet nec nibh. Pellentesque sodales, quam sit amet auctor congue, erat odio eleifend velit, vel consequat libero arcu nec libero. Donec id interdum purus.
    </p>
    <p>
        Pellentesque sit amet nulla sem, id rhoncus neque. Pellentesque gravida placerat nunc sed sagittis. Duis felis dolor, mattis a vehicula vel, pretium id purus. Aenean eu urna eros, id sagittis odio. Quisque molestie venenatis vestibulum. 
    </p>
    <button>Apply Now</button>
</section>