@model CodeSlingers2012.Models.LocationViewModel

<section>
    <article id="g_map">
        <div id="map_canvas"></div>
    </article>
    <article id="circles">
        <div class="top-half"></div>
        <div class="mpls">
            <h3>
                Minneapolis
            </h3>
            <p>
                1000 Nicollet Mall<br/>
                Minneapolis MN 55401<br/>
                (612) 123-4567
            </p>
        </div>
        <div class="stp">
            <h3>St. Paul</h3>
            <p>
                4008 W 7TH<br/>
                St. Paul MN 55401<br/>
                (651) 123-4567
            </p>
        </div>
        <div class="bottom-half"></div>
    </article>
</section>