@model CodeSlingers2012.Models.LocationViewModel

<section>
    <article id="g_map">
        <div id="map_canvas"></div>
    </article>
    <article id="circles">
        <div class="top-half"></div>
        @foreach (var item in Model.items)
        {
            var className = string.Empty;
            switch (item.SectionId)
            {
                case 1:
                    className = "mpls";
                    break;
                case 2:
                    className = "stp";
                    break;
            }
            <div class="@className">
                <h3>@item.Title</h3>
                @Html.Raw(item.ContentText)
            </div>
            @Html.Hidden("location" + className, item.ContentText.Replace("<p>", "").Replace("</p>", "").Replace("<br/>", " ").Replace("<P>", "").Replace("</P>", "").Replace("<BR/>", " "))
        }
        <div class="bottom-half"></div>
    </article>
</section>