@model CodeSlingers2012.Models.MenuViewModel

<h2>Menu</h2>
<nav class="menu-nav">
	<ul>
		<li><a href="#" class="current">Appetizers</a></li>
		<li><a href="#">Sake</a></li>
		<li><a href="#">Sushi</a></li>
		<li><a href="#">Drinks</a></li>
		<li><a href="#">Soups/Salads</a></li>
		<li><a href="#">Entrees</a></li>
		<li><a href="#">Happy Hour</a></li>
	</ul>	
</nav>	
<article id="menuRotator" class="menu-items">
	
	<div id="appetizers">
		<ul>
			<li><title>Ginger Calamari 8.95</title>
				<summary>Tender strips of calamari, sautéed in ginger sauce and topped with scallions</summary>
			</li>
			<li><title>Yakitori 5.95</title>
				<summary>Dark meat chicken on skewers, topped with scallions and teriyaki sauce.</summary>
				</li>
			<li><title>Ebi Fry 8.95</title>
				<summary>Shrimp breaded Japanese style, served with spicy mayo</summary>
				</li>
			<li><title>Harumaki 6.95</title>
				<summary>Japanese style pork egg rolls served with mustard-soy sauce</summary>
				</li>
			<li><title>Salmon Cream Cheese Wontons </title>
				<summary>Salmon, cream cheese and scallions topped with Red Tobiko</summary>
				</li>	
		</ul>
	
		<ul>
			<li><title>Gyoza 5.95</title>
				<summary>Pan-fried potstickers, served with gyoza sauce.</summary>
				</li>
			<li><title>Shrimp Tempura Appetizer 8.50</title>
				<summary>2 jumbo shrimp with vegetables, lightly battered and flash fried</summary>
				</li>
			<li><title>Soft Shell Crab 8.50</title>
				<summary>Flash fried and served with ponzu sauce.</summary>
				</li>
			<li><title>Hamachi Kama 8.95</title>
				<summary>Grilled Hamachi cheek </summary>
				</li>
			<li><title>Baked Mussels 8.50</title>
				<summary>Green lipped mussels topped with Masago cream sauce</summary>
				</li>
		</ul>
	
		<ul>
			<li><title>Kaki Half Shell Market</title>
			<summary>4 fresh oysters toped with daikon, scallions, Togarrashi and ponzu sauce</summary>
			</li>
			<li><title>Sushi Appetizer 10.95</title>
			<summary>Chef's choice; Three pieces of nigiri and a maki</summary>
			</li>
			<li><title>Tuna Takati 11.25</title>
			<summary>Lightly seared tuna topped with ginger, garlic and scallions with ponzu sauce</summary>
			</li>
			<li><title>Tuna Tar Tar 8.95</title>
			<summary>Diced tuna and avocado, ginger, garlic, lemon and chili oil topped with Tobiko</summary>
			</li>
		</ul>	
	</div>
	
	<div id="sake" style="display: none">
		<ul>
			<li><title>Hatsumago (Yamagata)</title>
			<summary>Natural, clean and mildly earthy opening with a creamy sweet melon aroma.</summary>
			</li>
			<li><title>Chikurin Fukamari (Okaymada)</title>
			<summary>Fukamari, meaning "Depth," is made of 100% home-grown Yamada Nishiki, the most celebrated saké rice.</summary>
			</li>
			<li><title>Kurosawa (Nagano)</title>
			<summary>Few saké producers are able to provide the meticulous hand-brewing steps required of the Kimoto title.</summary>
			</li>
		</ul>
		<ul>
			<li><title>Ohyama (Yamagata)</title>
			<summary>Flavorful, light and smooth type. Well-balanced aroma of pear, marshmallow and flower.</summary>
			</li>
			<li><title>Suishin (Hiroshima)</title>
			<summary>Light, smooth and rich type. Sweetness wraped by rich, fresh acidity that is smooth and light on your palate, which gives a very elegant impression.</summary>
			</li>
			<li><title>Kariho (Akita)</title>
			<summary>Rich type. Extremely dry and full-bodied saké with expansive savory flavors. Its round sweetness and refreshing acidity are superbly balanced.</summary>
			</li>
		</ul>
		<ul>
			<li><title>Shichi Hon Yari (Shiga)</title>
			<summary>"The Seven Spearsmen" this Saké is described as light, approachable and well-balanced. An earthy aroma reveals a light, grapefruit and melon nuance.</summary>
			</li>
			<li><title>Otokoyama (Hokkaido)</title>
			<summary>	Light, smooth and rich type. Light grain-like aroma with a hint of fruity nose. Refreshing lightness with vivid acidity. Very dry saké with sharp, rich and full-bodied taste.
			</summary>
			</li>
		</ul>
	</div>			
	<div id="sushi" style="display: none">
		<ul>
			<li><title>Dynamite (5 pcs)</title>
			<summary>Yellowtail, white fish with Thai chilies, scallions, lettuce, cucmber and radish sprouts</summary>
			</li>
			<li><title>Philly (6 pcs)</title>
			<summary>Smoked salmon with Tobiko, cream cheese, scallions and sesame seeds</summary>
			</li>
			<li><title>Salmon Skin (5 pcs)</title>
			<summary>Grilled salmon skin with pickled burdock root, cucumber, bonito flakes and radish sprouts</summary>
			</li>
			<li><title>Futo (5 pcs)</title>
			<summary>Spinach, cucumber, pickled radish and squash, tamago and inari tofu</summary>
			</li>
		</ul>
		<ul>
			<li><title>Spider (5 pcs)</title>
			<summary>Flash-fried soft shell crab with pickled burdock root, cucumber and radish sprouts</summary>
			</li>
			<li><title>Caterpillar (8 pcs)</title>
			<summary>Unagi and cucumber wrapped in avocado,  topped with Unagi sauce and sesame seeds</summary>
			</li>
			<li><title>Spicy Tuna (5 pcs)</title>
			<summary>Tuna, spicy mayo with lettuce, avocado, pickled burdock root and radish sprouts</summary>
			</li>
			<li><title>Spicy Salmon (5 pcs)</title>
			<summary>Salmon, spicy mayo with lettuce, avocado, pickled burdock root and radish sprouts</summary>
			</li>
		</ul>
		<ul>
			<li><title>New York (8 pcs)</title>
			<summary>Spicy tuna inside out, with pickled burdock root and radish sprouts, wraped in Ahi tuna and avocado</summary>
			</li>
			<li><title>Tempura (5 pcs)</title>
			<summary>Shrimp Tempura with Masago, pickled burdock root, cucumber and radish sprouts</summary>
			</li>
			<li><title>Crunchy (8 pcs)</title>
			<summary>Shrimp Tempura with cucumber and spicy mayo, wrapped in Tempura flakes and Masago. Topped with Unagi sauce/summary>
			</li>
		</ul>
	</div>	
	<div id="drinks" style="display: none">
		<ul>
			<li><title>Dr. Loosen Dr. L. Riesling
			Mosel, Germany</title>
			</li>
			<li><title>Stella Pinot Grigio
			Italy
			</title>
			</li>
			<li><title>Montevina Pinot Grigio
			California</title>
			</li>
			<li><title>Danubio Gruner Veltliner
			Austria</title>
			</li>
			<li><title>New Harbor Sauvignon Blanc
			New Zealand</title>
			</li>
			<li><title>Stephen Vincent Sauvignon Blanc
			California</title>
			</li>
		</ul>
		<ul>
			<li><title>Mark Bredif Vouvray
			France</title>
			</li>
			<li><title>Oxford Landing Chardonnay
			Australia</title>
			</li>
			<li><title>Talbott Kali Hart Chardonnay
			California</title>
			</li>
			<li><title>Sonoma Cutrer Chardonnay
			California</title>
			</li>
			<li><title>Chalone Pinot Noir
			California</title>
			</li>
			<li><title>Finca Antigua Tempranillo
			Spain</title>
			</li>
		</ul>
		<ul>
			<li><title>Sterling Merlot
			Central Coast, California</title>
			</li>
			<li><title>El Portillo Malbec
			Argentina</title>
			</li>
			<li><title>Calina Cabernet Sauvignon
			Chile
			</title>
			</li>
			<li><title>Ringbolt Cabernet Savignon
			Australia</title>
			</li>
			<li><title>Archetype Cabernet/Shiraz
			Australia</title>
			</li>
			<li><title>Ventisquero Carmenere
			Chile</title>
			</li>
		</ul>
	</div>	
	<div id="soup-salad" style="display: none">
		<ul>
			<li><title>Miso (v) 2.75</title>
			<summary>Soybean paste in Kombu stock with wakame seaweed, tofu and scallions</summary>
			</li>
			<li><title>Sumashi 2.75</title>
			<summary>Shitake mushroom infused Dashi broth with mushrooms and scallions.
			</summary>
			</li>
		</ul>
		<ul>
			<li><title>Kaiso 5.95</title>
			<summary>Variety of marinated seaweed, served over sliced cucumbers with ponzu</summary>
			</li>
			<li><title>Sunomono</title>
			<summary>Pickled  cumcumber salad with sweet vinigrette, daikon and kaiware.</summary>
			</li>
			<li><title>Sansai 6.75</title>
			<summary>Mountain fern salad with your choice of marinated Tako or Ika</summary>
			</li>
			<li><title>Tuna Takati Salad 16.95</title>
			<summary>Seared Ahi tuna served on a bed of mixed greens</summary>
			</li>
		</ul>
		<ul>
			<li><title>Sashimi Avocado Salad</title>
			<summary>Sashimi marinated in gomae sauce and served on a bed of mixed greens</summary>
			</li>
		</ul>
	</div>	
	<div id="entree" style="display: none">
		<ul>
			<li><title>Sesame Encrusted Tuna 20.95</title>
			<summary>Ahi tuna, encrusted in a combination of white and black sesame seeds. Cooked to medium rare.
			</summary>
			</li>
			<li><title>Yakiniku 20.95</title>
			<summary>Thinly sliced ribeye, marinated in our house-made ginger-soy sauce, then sautéed in sweet soy with garlic.</summary>
			</li>
			<li><title>Black Angus Toban Yaki 23.95</title>
			<summary>Center cut black angus beef cooked on a Ceramic Toban plate seasoned with garlic butter and soy.</summary>
			</li>
			<li><title>Pan Roasted Duck 21.95</title>
			<summary>Half duck marinated, baked, then pan seared with our house-made teriyaki sauce.</summary>
			</li>
		</ul>
		<ul>
			<li><title>Charred Sea Bass 21.95</title>
			<summary>Char broiled Chilean sea bass, topped with mango salsa and served on a bed of rice.</summary>
			</li>
			<li><title>Baked Chicken Teriyaki 19.50</title>
			<summary>Half chicken, marinated with our house-made teriyaki sauce.</summary>
			</li>
			<li><title>Salmon Shio-Yaki 19.95</title>
			<summary>King salmon, lightly salted and grilled.  Teriyaki salmon also available</summary>
			</li>
			<li><title>Sukiyaki 21.50</title>
			<summary>Traditional family recipe including sliced ribeye, mushrooms, tofu and vegetables simmered in house-made Sukiyaki sauce</summary>
			</li>
		</ul>
		<ul>
			<li><title>Reiko's 21.95</title>
			<summary>Yakitori, shrimp and vegetable tempura & New York strip</summary>
			</li>
			<li><title>Fuji-Ya Special 22.95</title>
			<summary>Ebi fry and Aji, six pieces of sashimi, and grilled salmon</summary>
			</li>
			<li><title>Vegetarian 16.50</title>
			<summary>Sautéed asparagus, agedashi tofu, spinach gomae and kaiso salad</summary>
			</li>
		</ul>
	</div>	
	<div id="entree" style="display: none">
		<ul>
			<li><title>EDAMAME (soy beans) $4.00</title>
			</li>
			<li><title>GYOZA (potstickers) $3.25/$4.00</title>
			</li>
			<li><title>HARUMAKI (veggie or pork eggroll) $4.50</title>
			</li>
			<li><title>EBI FRY (breaded shrimp) $3.50
			</title>
			</li>
			<li><title>YAKITORII (chicken skewers) $4.25</title>
			</li>
			<li><title>TAKO YAKI $5.50
			SALMON WONTONS $3.50</title>
			</li>
			<li><title>OKONOMIYAKI (seafood pancake) $5.50</title>
			</li>
			<li><title>KARAAGE (chiken niblets) $3.50</title></li>
		</ul>
		<ul>
			<li><title>MAGURO BIN CHO/ALBACORE TUNA</title>
			</li>
			<li><title>ESHAKE/SALMON</title>
			</li>
			<li><title>HAMACHI/YELLOWTAIL
			</title>
			</li>
			<li><title>EBI/COOKEDSHRIMP</title>
			</li>
			<li><title>MUTSU/ESCOLAR</title>
			</li>
		</ul>
		<ul>
			<li><title>AVOCADO/AVOCADO</title>
			</li>
			<li><title>KAMPYO/MARINATED GUORD  </title>
			</li>
			<li><title>VEGGIE WINTER ROLL 
			</title>
		</ul>
	</div>	
</article>