/*-----------------------------------------------------------------------------------
Template.css Information and Index
-------------------------------------------------------------------------------------
Fusion Room 2012 
www.fusion-room.com

 0. Reset
 1. Font Declaration and General Text Styles
 2. Sprites and Buttons.
 3. Page Structure
 4. Layouts and Page Elements
 5. Conditional styles
 6. Media Queries
 7. Clearfix
-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------
0. Reset | Eric Meyer v2.0 | 20110126 http://meyerweb.com/eric/tools/css/reset/
-----------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { font-size: 16px; list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----------------------------------------------------------------------------------
 1. Font Declaration and General Text Styles
-----------------------------------------------------------------------------------*/
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../Fonts/bebas-neue-fontfacekit/BebasNeue-webfont.eot');
    src: url('../Fonts/bebas-neue-fontfacekit/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/bebas-neue-fontfacekit/BebasNeue-webfont.woff') format('woff'),
         url('../Fonts/bebas-neue-fontfacekit/BebasNeue-webfont.ttf') format('truetype'),
         url('../Fonts/bebas-neue-fontfacekit/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSansLight';
    src: url('../Fonts/open-sans-fontfacekit/OpenSans-Light-webfont.eot');
    src: url('../Fonts/open-sans-fontfacekit/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/open-sans-fontfacekit/OpenSans-Light-webfont.woff') format('woff'),
         url('../Fonts/open-sans-fontfacekit/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../Fonts/open-sans-fontfacekit/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansLightItalic';
    src: url('../Fonts/open-sans-fontfacekit/OpenSans-LightItalic-webfont.eot');
    src: url('../Fonts/open-sans-fontfacekit/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/open-sans-fontfacekit/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('../Fonts/open-sans-fontfacekit/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('../Fonts/open-sans-fontfacekit/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('../Fonts/open-sans-fontfacekit/OpenSans-Regular-webfont.eot');
    src: url('../Fonts/open-sans-fontfacekit/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/open-sans-fontfacekit/OpenSans-Regular-webfont.woff') format('woff'),
         url('../Fonts/open-sans-fontfacekit/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../Fonts/open-sans-fontfacekit/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansItalic';
    src: url('../Fonts/open-sans-fontfacekit/OpenSans-Italic-webfont.eot');
    src: url('../Fonts/open-sans-fontfacekit/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/open-sans-fontfacekit/OpenSans-Italic-webfont.woff') format('woff'),
         url('../Fonts/open-sans-fontfacekit/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('../Fonts/open-sans-fontfacekit/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../Fonts/open-sans-fontfacekit/OpenSans-Semibold-webfont.eot');
    src: url('../Fonts/open-sans-fontfacekit/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/open-sans-fontfacekit/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../Fonts/open-sans-fontfacekit/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../Fonts/open-sans-fontfacekit/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansSemiboldItalic';
    src: url('../Fonts/open-sans-fontfacekit/OpenSans-SemiboldItalic-webfont.eot');
    src: url('../Fonts/open-sans-fontfacekit/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/open-sans-fontfacekit/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
         url('../Fonts/open-sans-fontfacekit/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
         url('../Fonts/open-sans-fontfacekit/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansBold';
    src: url('../Fonts/open-sans-fontfacekit/OpenSans-Bold-webfont.eot');
    src: url('../Fonts/open-sans-fontfacekit/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/open-sans-fontfacekit/OpenSans-Bold-webfont.woff') format('woff'),
         url('../Fonts/open-sans-fontfacekit/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../Fonts/open-sans-fontfacekit/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansBoldItalic';
    src: url('../Fonts/open-sans-fontfacekit/OpenSans-BoldItalic-webfont.eot');
    src: url('../Fonts/open-sans-fontfacekit/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/open-sans-fontfacekit/OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('../Fonts/open-sans-fontfacekit/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         url('../Fonts/open-sans-fontfacekit/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansExtrabold';
    src: url('../Fonts/open-sans-fontfacekit/OpenSans-ExtraBold-webfont.eot');
    src: url('../Fonts/open-sans-fontfacekit/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/open-sans-fontfacekit/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('../Fonts/open-sans-fontfacekit/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('../Fonts/open-sans-fontfacekit/OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansExtraboldItalic';
    src: url('../Fonts/open-sans-fontfacekit/OpenSans-ExtraBoldItalic-webfont.eot');
    src: url('../Fonts/open-sans-fontfacekit/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/open-sans-fontfacekit/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
         url('../Fonts/open-sans-fontfacekit/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
         url('../Fonts/open-sans-fontfacekit/OpenSans-ExtraBoldItalic-webfont.svg#OpenSansExtraboldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PacificoRegular';
    src: url('../Fonts/pacifico-fontfacekit/Pacifico-webfont.eot');
    src: url('../Fonts/pacifico-fontfacekit/Pacifico-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/pacifico-fontfacekit/Pacifico-webfont.woff') format('woff'),
         url('../Fonts/pacifico-fontfacekit/Pacifico-webfont.ttf') format('truetype'),
         url('../Fonts/pacifico-fontfacekit/Pacifico-webfont.svg#PacificoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* Text Styles
-----------------------------------------*/
h2 {
	font: 64px 'PacificoRegular';
	color: #f54b4b;
}
h3 {
	font: 44px/27px 'PacificoRegular';
	color: #ffffff;
}
h4 {
	font: 34px/24px 'PacificoRegular';
	color: #ffffff;
}
h5 {
	font: 24px/36px 'PacificoRegular';
	color: #f23535;
}
p { 
	font: 16px/24px 'OpenSansRegular';
	color: #000;
}
ul { list-style-type: none; }
ol { list-style-type: decimal; }

/*-----------------------------------------------------------------------------------
 2. Sprites and Buttons
-----------------------------------------------------------------------------------*

/* Sprite backgrounds
-----------------------------------------*/
.prev, .next,  #homecallouts article summary a span, button{ background: url( ../Images/masterSprite.png ) no-repeat; }

/* Buttons
-----------------------------------------*/
.prev {
	background-position: 0 0;
	float: left;
	margin-left: 18px;
}
.next {
	background-position: -46px 0;
	float:right;
	margin-right:20px;
}

/*-----------------------------------------------------------------------------------
 3. Page Structure
-----------------------------------------------------------------------------------*/
html {
	background: url(../Images/repeat-bg.png) center 0 repeat;
	border: 1px solid #4c4c4c;
	height: 4621px;
}
body { 
	background: url(../Images/static-bg.png) center 0 repeat-y;
	height: 100%;
	margin: 0 auto;
}
#wrapper { 
	margin: 0 auto;
	width: 1401px;
	height: 100%;
}
#mainContainer {
	margin: 0 auto;
	width: 1399px;
	height: 100%;
}
header {
	position: fixed;
	top: 0;
	z-index: 200;
}

/*-----------------------------------------------------------------------------------
4. Layouts and Page Elements
-----------------------------------------------------------------------------------*/
/* Header
------------------------------------------*/
header li span {
	background: url(../Images/gts-header.png) no-repeat;
	display: block;
	height: 70px;
	width: 313px;
	text-indent: -9999px;
}
header nav {
	background: url(../Images/nav.png) no-repeat;
	height: 99px;
	width: 1401px;
}
header nav ul {
	margin-left: 243px;
	padding-top: 8px;
}
header nav li {
	float: left;
}
header nav a {
	font: 24px/18px 'BebasNeueRegular';
	color: #ffffff;
	display:block;
	letter-spacing: 1px;
	padding-top: 20px;
	text-decoration: none;
}
header nav a.current, header nav a:hover {
	color: #ffcccc;
}
header nav a.home { margin-right: 54px; }
header nav a.about-us { margin-right: 50px; }
header nav a.menu { margin-right: 38px; }
header nav a.locations { 
	margin: 0 44px 0 24px;
	padding-top: 21px;
}
header nav a.jobs { 
	margin-right: 44px;
	padding-top: 21px;
}
header nav a.connect { padding-top: 21px; }

/* Homepage
------------------------------------------*/
#home {
	background: #000;
	height: 732px;
	position: relative;
}
#home h1 {
	position: absolute;
	top:121px;
	left: 213px;
	z-index: 1;
	text-indent: -999px;
	width: 497px;
}
#home h1 img {
	display: block;
}
#homerotator {
	height: 100%;
}
#homerotator img {
	position: relative;
	top: -3px;
}
#homerotatornav, #menuRotator div#menurotatornav {
	position: absolute;
	top: 360px;
	width: 100%;
	z-index: 4;
}
#homerotatornav a, #menurotatornav  a {
	display: block;
	height: 42px;
	width: 42px;
	text-indent: -9999px;
}
#homecallouts {
	background: rgba(0,0,0,.4);
	height: 203px;
	padding-left: 132px;
	position: absolute;
	top: 531px;
	width: 1267px;
	z-index: 5;
}
#homecallouts article {
	float: left;
	width:302px;
	margin-left: 59px;
}

#homecallouts article title {
	display: block;
	font: 34px/24px 'PacificoRegular';
	color: #ffffff;
	margin-top: 24px;
}
#homecallouts article summary {
	font: 16px/24px 'OpenSansBold';
	color: white;
	display: block;
	margin-top: 24px;
}
#homecallouts article.featured title { 
	margin-left: 30px;
	position: relative;
	z-index: 2;
}
#homecallouts article.featured summary {
	width: 173px;
	float: right;
}
#homecallouts article.featured img {
	z-index: 1;
	position: relative;
	top: -10px;
}
#homecallouts article summary a {
	display: block;
	text-decoration: none;
	color: #ef3b3b;
	margin-left: 6px;
	margin-top: 1px;
}
#homecallouts article summary a:hover{
	color: #fff000;
}
#homecallouts article summary a:active{
	color: #ef3b3b;
}
#homecallouts article summary a span {
	padding-right: 8px;
	display: inline-block;
	background-position: -95px 0;
	height: 11px;
	width: 7px;
}
#homecallouts article.where-are-we {
	width: 260px;
	margin-left: 46px;
}
#homecallouts article.where-are-we summary {
	width: 260px;
	margin-left: 5px;
}
#homecallouts article.where-are-we summary a { margin-left: 5px; }
#homecallouts article.work-with-us{ width: 267px; }
#homecallouts article.work-with-us summary {
	margin-left: 5px;
}

/* About Us
------------------------------------------*/
#about-us {
	background: url(../Images/about-bg.jpg) no-repeat;
	width: 1400px;
	position: relative;
	height: 700px;
}
#about-content {
	background: rgba(255,255,255,.5);
	border-radius: 50%;
	height:534px;
	left: 270px;
	position: relative;
	width:534px;
	top: 72px;
	z-index: 2;
}
#left-roll {
	position: absolute;
	top: 141px;
	z-index: 1;
}
#about-us h2 { 
	float: left;
	margin: 37px 0 0 137px;
}
#about-us p { 
	margin: -3px 55px 0;
	text-align: center;
	width: 425px;
	float: left;
}
#about-content img {
	margin: 14px 0 0 154px;
}
#right-roll {
	top: 98px;
	position: absolute;
	right: 0;
	width:601px;
}
#right-roll img {
	float: left;
	position: relative;
}
#right-roll img.sushi-top {
	left: 166px;
}
#right-roll img.sushi-crab {
	left: -78px;
	top: 84px;
}
#right-roll img.sushi-rice {
	top: 9px;
	left: 50px;
}
#right-roll img.chopsticks {
	left: 2px;
	top: -15px;
}

/* Menu
------------------------------------------*/
#menu {
	background: url(../Images/menu-bg.png) no-repeat;
	height: 718px;
	position: relative;
	top: -18px;
	width: 1400px;
}
#menu h2 {
	color: white;
	margin-left: 620px;
}
#menu nav {
	background: none;
	width: 960px;
	margin: 0 auto;
}
#menu nav ul {
	margin-bottom: 35px;
}
#menu nav li {
	float: left;

}
#menu nav a{
	font: 30px 'BebasNeueRegular';
	color: #fff000;
	margin-right: 51px;
		text-decoration: none;
}
#menu nav a:hover { color: white;}
#menu nav a.current {
	color: white;
}
#menuRotator ul {
	float: left;
	width:306px;
}
#menuRotator li { margin-bottom: 25px; margin-right: 70px;}
#menuRotator div {
	width: 960px;
	margin: 0 auto;
}

#menuRotator title {
	font: 26px 'BebasNeueRegular';
	color: white;
	display:block;
}
#menuRotator summary {
	font: 16px 'OpenSansLight';
	color:white;
}

/* Locations
------------------------------------------*/
#locations {
	background: #f0ede4;
	height: 701px;
	position: relative;
	top: -18px;
	width: 1400px;
}
#map_canvas {
 height: 701px;
width: 1400px;
 }
#circles .top-half {
	background: url(../Images/half-circle-top.png) no-repeat;
	height: 138px;
	width: 325px;
	position: absolute;
	top: -1px;
	right: 226px;
	z-index: 1;
}
#circles .bottom-half {
	background: url(../Images/half-circle-bottom.png) no-repeat;
	height: 127px;
	width: 325px;
	position: absolute;
	bottom: 0;
	right: 225px;
	z-index: 1;
}
#circles .mpls {
	background: rgba(199,46,46,.8);
	border-radius: 50%;
	height: 328px;
	width: 328px;
	position: absolute;
	top: 62px;
	right: 225px;
	z-index: 2;
}
#circles h3 {
	margin: 93px 52px 29px;
}
#circles .stp h3 {
	margin-left: 67px;
	margin-top: 94px;
	margin-bottom: 27px;
} 
#circles .stp p {
	margin-left: -4px;
}
#circles p {
	font: 30px/28px 'BebasNeueRegular';
	text-transform: uppercase;
	color: white;
	margin-left: -2px;
	text-align: center;
}
#circles .stp {
	background: rgba(199,46,46,.8);
	border-radius: 50%;
	height: 328px;
	width: 328px;
	position: absolute;
	top: 319px;
	right: 225px;
	z-index: 3;
}

/* Jobs
------------------------------------------*/
#jobs {
	background: url(../Images/jobs-bg.jpg) no-repeat;
	height: 703px;
	position: relative;
	top: -18px;
	width: 1400px;
}
#jobs .callout {
	background: rgba(216,172,116,.8);
	border-radius: 50%;
	height: 534px;
	position: absolute;
	right: 123px;
	top: 81px;
	width: 534px;
}
.upper-frame img {
	position: absolute;
	top: -45px;
	z-index: 1;
}
.lower-frame img {
	position: absolute;
	top: 126px;
	left: 197px;
	z-index: 2;
}
#jobs h2 {
	color: #bd2424;
	float: left;
	margin: 14px 0 0 175px;
}
#jobs p {
	float: left;
	text-align: center;
	width: 406px;
	margin: 17px 0 7px 71px;
	font: 16px/24px 'OpenSansRegular';
}

#jobs button {
	margin-left: 188px;
	background-position: -114px 0;
	float: left;
	width: 140px;
	letter-spacing: 1px;
	margin-top: 24px;
	border: none;
	color: white;
	font: 24px 'BebasNeueRegular';
	height: 43px;
	text-shadow: 2px 2px black;
}

/* Connect
------------------------------------------*/
#connect {
	background: url(../Images/connect-bg.jpg) no-repeat;
	height: 851px;
	position: relative;
	top: -60px;
}
#connect h2 {
	color: white;
	float: left;
	margin: 17px 0 0 613px;
}
#connect .twitter article {
	background: url(../Images/twitter-circle.png) no-repeat;
	width: 330px;
	height: 330px;
	position: absolute;
}
#connect .circle-1 {
	top: 101px;
	left: 214px;
}
#connect .circle-2 {
	top: 31px;
	right: 204px;
}
#connect .circle-3 {
	top: 244px;
	left: 566px;
}
#connect .circle-4 {
	top: 515px;
	left: 275px;
}
#connect .circle-5 {
	top: 468px;
	right: 218px;
}
#connect .twitter article p {
	font: 18px 'OpenSansRegular';
	color: white;
	text-align: center;
	width: 253px;
	margin: 85px 43px 0;
}
#connect .twitter article span {
	font: 12px 'OpenSansBold';
	color: white;
	margin: 5px 0 0 115px;
}
#connect .twitter article.circle-3 p {
	margin-top: 120px;
}
nav a.connect { padding-top: 21px; }
#connect .ig {
	position:absolute;
	background: #000000;
	height: 151px;
	bottom: 0;
	width:1400px;
    overflow: hidden;
}
#connect .ig ul {
   width: 1500px;
}
#connect .ig ul li {
   display: block;
   float: left;
   width: 150px;
    height: 150px;
 }
#connect  div.circle-outer{
   margin: 0 auto;
   float: left;
   left: 50%;
   position: absolute;
}
#connect  div.circle-inner{
  text-align: justify;
  float: left;
  position: relative;
  right: 50%;
}

/* Footer
------------------------------------------*/
footer {
	background: black;
	height: 243px;
	position: relative;
	top: -60px;
	width: 1401px;
}
footer .left{ 
	float: left;
	margin-left: 255px;
	margin-top: 25px;
}
footer .left img.footer-sushi {
	position: absolute;
	left: 277px;
	top: 83px;
}
footer .happy-hour { 
	float: right; 
	margin-right: 225px; 
	margin-top:17px;
}
footer .dinner { 
	float: right; 
margin-right: 104px;
	margin-top: 17px;
}
footer .back-to-top {
	position: absolute;
	right: 223px;
	top: 181px;
	text-decoration: none;
	color: #f1dd00;
	font: 20px 'PacificoRegular';
}
footer h3 {
	font: 24px/36px 'PacificoRegular';
	color: #f23535;
	text-align: right;
	padding-bottom: 10px;
}
footer p {
	font: 20px/27px 'BebasNeueRegular';
	color: white;
	text-align: right;
}

/*-----------------------------------------------------------------------------------
 5. Conditional styles
-----------------------------------------------------------------------------------*/

/* Conditional styles for firefox
------------------------------------------*/
@-moz-document url-prefix() {
}

/* Conditional styles for webkit browsers
------------------------------------------*/
@media all and (-webkit-min-device-pixel-ratio:0) {
	/*header li span {
		background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ff9999), color-stop(17%,#990000), color-stop(70%,#ff3333), color-stop(100%,#990000));
		background:-webkit-linear-gradient(top, #ff9999 1%,#990000 17%,#ff3333 70%,#990000 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke: 1px white;
		font: 38px/18px 'PacificoRegular', sans-serif;
		text-indent: 0;
	}*/
}

/* Conditional styles for IE
------------------------------------------*/

/*-----------------------------------------------------------------------------------
6. Media Queries
-----------------------------------------------------------------------------------*/
@media all and (max-width: 1024px) {
	
}
@media all and (max-width: 480px) {	

}

/*-----------------------------------------------------------------------------------
7. Clearfix
-----------------------------------------------------------------------------------*/
.clearfix:before, .clearfix:after, ul:before, ul:after, li:before, li:after, .col:before, .col:after, header:before, header:after{ content:"\0020";display:block;height:0;visibility:hidden; }
.clearfix:after, ul:after, li:after, col:after, header:after{ clear:both; }
.clearfix, ul, li, .col, header{ zoom: 1; }