@{
    ViewBag.Title = "Codeslingers 2012";
}

<div id="mainContainer">
    <section class="parallx_container" id="home">
        <h1><img src="@Url.Content("~/Images/gts-logo.png")" alt="Good Time Sushi" />Good Time Sushi</h1>
        <div id="homerotator" class="pics">
            <img src="" alt="" />
            <img src="" alt="" />
            <img src="" alt="" />
        </div>
        <div id="homerotatornav">
            <a href="#" id="prev">Prev</a>
            <a href="#" id="next">Next</a>
        </div>
        <section id="homecallouts">
            <article>
                <title>Featured Roll</title>
                <summary>
                    Fusce et quam vel diam molestie eleifend et quis massa.
                    <a href="#">Check Our Menu</a>
                </summary>
                <img src="" alt="" />
            </article>
            <article>
                <title>Where Are We?</title>
                <summary>
                    Mauris elementum lobortis laoreet. Curabitur lacinia, metus sed suscipit ultrices, lacus ipsum adipiscing nisl.
                    <a href="#">Find Your Location</a>
                </summary>
            </article>
            <article>
                <title>Work With Us</title>
                <summary>
                    Vestibulum vestibulum accumsan mollis. Quisque nec lacus ac dui porta pretium eget vitae leo.
                    <a href="#">Apply Now!</a>
                </summary>
            </article>
        </section>
    </section>

    <section class="parallx_container" id="about-us">
        <section id="left-roll">
            <img src="" alt="" />
        </section>
        <section id="about-content">
            <h2>About Us</h2>
            <p>
                Sed nec magna tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi scelerisque luctus lectus, rutrum pretium lorem scelerisque in. Curabitur sed sem enim. Suspendisse vel ipsum elit. Ut pharetra euismod felis in adipiscing.
            </p>
            <img src="" alt="" />
        </section>
        <section id="right-roll">
            <img src="" alt="" />
            <img src="" alt="" />
            <img src="" alt="" />
            <img src="" alt="" />
        </section>
    </section>
    <section class="parallx_container" id="menu">

    </section>
    <section class="parallx_container" id="locations">

    </section>
    <section class="parallx_container" id="jobs">

    </section>
    <section class="parallx_container" id="connect">

    </section>
    <footer class="parallx_container">

    </footer>
</div>