@{
    ViewBag.Title = "Codeslingers 2012";
}

<div id="mainContainer">
    <section class="parallx_container" id="home">

    </section>

    <section class="parallx_container" id="about-us">

    </section>
    <section class="parallx_container" id="menu">

    </section>
    <section class="parallx_container" id="locations">

    </section>
    <section class="parallx_container" id="jobs">

    </section>
    <section class="parallx_container" id="connect">

    </section>
    <footer class="parallx_container">

    </footer>
</div>