@model CodeSlingers2012.Models.FooterViewModel

@{
    ViewBag.Title = "Footer";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <h2>Footer</h2>
    @Html.DisplayFor(i => i.items, "ContentAdmin")
