@model CodeSlingers2012.Models.PageNavViewModel


@{
    ViewBag.Title = "Navigation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Navigation</h2>
    @Html.DisplayFor(i => i.items, "ContentAdmin")
