@model CodeSlingers2012.Models.TopViewModel


@{
    ViewBag.Title = "Top";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Top</h2>

<fieldset>
        <legend>Images</legend>
@Html.DisplayFor(i => i.homeImages, "ContentAdmin")
</fieldset>

<fieldset>
        <legend>Content Items</legend>
@Html.DisplayFor(i => i.homeLinks, "ContentAdmin")
</fieldset>